* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
}
section {
    overflow: hidden;
}
main {
    width: 80%;
    height: 900px;
    float: right;
    overflow: hidden;
}
.sidebar {
    width: 20%;
    height: 100%;
    background: #2B3439;
    position: fixed;
    color: white;
}
.sidebar-header {
    padding-left: 10%;
    padding-top: 10%;
    min-width: 100%;
    height: auto;
    margin-bottom: 5%;
}
.sidebar-container {
    overflow: hidden;
}
.sidebar-header-icon {
    margin-top: 3%;
    margin-right: 3%;
    font-size: 1.5rem;
    float: left;
}
.sidebar-header h3 {
    font-size: 1.8rem;
    font-family: "Open Sans";
    font-weight: 300;
    margin: auto;
}
.sidebar .icon-holder {
    float: left;
    margin-right: 2%;
}
.sidebar-body h3 {
    font-family: "Open Sans Light";
    font-size: .8rem;
    padding-bottom: 5%;
    padding-left: 10%;
    margin-top: 5%;
}
.sidebar-body li {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    font-size: 1rem;
    font-family: "Open Sans Light";
}
.sidebar-body a {
    color: white;
    text-decoration: none;
}
.sidebar-body li:hover {
    background: #21272A;
}
header {
    width: 100%;
    height: 6.5%;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
}
.profile {
    min-width: 7%;
    height: 100%;
    float: right;
    position: relative;
}
.profile-icon {
    font-size: 1rem;
    position: absolute;
    bottom: 35%;
    color: #0070E0;
}
.image-container {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 20%;
    float: right;
}
.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
.sub-header {
    position: relative;
}
.sub-header a {
    text-decoration: none;
    color: white;
}
.sub-header h4 {
    font-size: 0.85rem;
    font-family: "Open Sans Light";
    margin-left: 2%;
    padding-top: 2%;
}
.cancel {
    text-align: center;
    right: 6%;
    top: 25%;
    width: 4%;
    position: absolute;
    margin-right: 1%;
}
.cancel p {
    color: #0B76E1;
    font-size: .8rem;
    font-family: "Open Sans Light";
    padding: 15%;
}
.save {
    text-align: center;
    width: 4%;
    background: #0B76E1;
    position: absolute;
    right: 2%;
    top: 25%;
    overflow: hidden;
}
.save p {
    font-size: .8rem;
    font-family: "Open Sans Light";
    padding: 15%;
    color: white;
}
nav {
    height: 4%;
    overflow: hidden;
    font-family: 'Open Sans Light';
    border-bottom: 1px solid #DFDFDF;
}
nav p {
    font-size: 13px;
    float: left;
    margin-right: 15px;
}
nav ul {
    max-width: 35%;
    list-style: none;
    margin: 0 auto;
    margin-top: 10px;
}
.nav-icon {
    font-size: 0.75rem;
    float: left;
    margin-right: 1%;
}
.profile-picture {
    width: 35px;
    height: 35px;
    float: right;
    padding: 5px;
}
.box {
    max-width: 100%;
    border: 1px solid #0070E0;
    overflow: hidden;
    margin: 2%;
    color: #0070E0;
    padding: 1%;
    padding-bottom: 1.5%;
    position: relative;
}
.box p {
    margin-top: 1%;
    font-size: 0.90rem;
    font-family: "Open Sans Light";
}
.box h3 {
    margin-top: .05%;
    font-family: "Open Sans";
    font-size: 1rem;
}
.close {
    position: absolute;
    right: 1%;
    top: 5%;
}
.close a {
    color: #0070E0;
    opacity: 0.50;
}
.second-layer {
    overflow: hidden;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 3%;
}
.foo-bar {
    margin-left: 2%;
    width: 38%;
    float: left;
}
.foo-bar p {
    font-size: 0.75rem;
    font-family: "Open Sans Light";
}
.foo-bar h4 {
    font-size: 1rem;
    font-family: "Open Sans Light";
    margin-bottom: 3%;
}
.form {
    margin-right: 2%;
    width: 58%;
    float: right;
}
.form-item {
    margin-bottom: 10px;
    font-family: "Open Sans Light";
    overflow: hidden;
}
.form-item:last-child {
    margin-bottom: 0;
}
.form-item h4 {
    font-size: 0.75rem;
}
.form-item input[type=text] {
    width: 75%;
    height: 1.5rem;
}
.form-error {
    padding: 2%;
    padding-right: 0;
    border: 2px solid red;
    width: 73%;
    margin-bottom: 2%;
    overflow: hidden;
}
.form-error p {
    font-family: "Open Sans Light";
    font-size: 0.75rem;
}
.form-item-2 {
    float: left;
    width: 236px;
    font-family: "Open Sans Light";
    margin-right: 0.5%;
}
.form-item-2:last-child {
    margin-right: 0;
}
.form-item-2 input[type=text]{
    width: 90%;
    height: 1.5rem;
}
.form-item-2 h4 {
    font-size: 13px;
}
.third-layer {
    overflow: hidden;
    border-bottom: 1px solid #DFDFDF;
}
hr {
    background-color: #DFDFDF;
    height: 1px;
    border: 0;
}
.third-layer-icon {
    float: left;
    margin-right: 1%;
}
.left {
    width: 38%;
    float: left;
    overflow: hidden;
    margin-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.left p {
    font-size: 0.85rem;
    font-family: "Open Sans Light";
}
.left h4 {
    font-size: 0.90rem;
    font-family: "Open Sans Light";
    margin-bottom: 1%;
}
.right {
    overflow: hidden;
    width: 43.5%;
    padding-top: 1.5%;
    padding-bottom: 2%;
}
.checksum {
    width: 100%;
    margin-top: 1%;
    border-collapse: collapse;
}
td {
    font-family: "Open Sans Light";
    font-size: 0.80rem;
    padding-top: 1%;
}
.fourth-layer {
    overflow: hidden;
}
.fourth-layer-left {
    width: 38%;
    float: left;
    overflow: hidden;
    margin-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.fourth-layer-left h4 {
    color: red;
    font-size: 0.90rem;
    font-family: "Open Sans";
    margin-bottom: 1%;
}
.fourth-layer-left p {
    font-size: 0.85rem;
    font-family: "Open Sans Light";
}
.fourth-layer-right {
    overflow: hidden;
    width: 43.5%;
    padding-top: 1.5%;
    padding-bottom: 2%;;
}
.destroy {
    width: 50%;
    text-align: center;
    padding: 0.5%;
    border: 2px solid red;
    border-radius: 3px;
    font-family: "Open Sans";
    font-size: 0.85rem;
    margin-top: 0.5%;
    color: red;
}
.fourth-layer-right p {
    font-family: "Open Sans Light";
    font-size: 0.85rem;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
    .sidebar-body {
        margin-top: .5rem;
    }
    .sidebar-header {
        margin-top: 1rem;
        margin-left: .6rem;
    }
    .sidebar-header-icon {
        margin-top: 3%;
        margin-right: 3%;
        font-size: .5rem;
        float: left;
    }
    .sidebar-header h3 {
        font-size: 0.6rem;
        font-family: "Open Sans";
        font-weight: 300;
        margin: auto;
    }
    .sidebar .icon-holder {
        float: left;
        margin-right: 3%;
        font-size: 0.5rem;
    }
    .sidebar-body h3 {
        display: none;
    }
    .sidebar-body li {
        padding-top: 10%;
        font-size: .5rem;
        font-family: "Open Sans Light";
    }
    header {
        height: 4%;
    }
    .image-container {
        width: 25px;
        height: 25px;
    }
    .profile-icon {
        display: none;
    }
    .box p {
        margin-top: 1%;
        font-size: 0.55rem;
        font-family: "Open Sans Light";
    }
    .box h3 {
        margin-top: .6%;
        font-family: "Open Sans";
        font-size: 0.65rem;
    }
    .close {
        position: absolute;
        right: 1%;
        top: 0;
        font-size: 0.70rem;
    }
    .close a {
        color: #0070E0;
        opacity: 0.50;
    }
    .sub-header h4 {
        font-size: 0.60rem;
        font-family: "Open Sans Light";
        padding-top: 2%;
    }
    .cancel {
        text-align: center;
        right: 20%;
        top: 15%;
        width: 3%;
        position: absolute;
        margin-right: 5%;
    }
    .cancel p {
        color: #0B76E1;
        font-size: .65rem;
        font-family: "Open Sans Light";
    }
    .save {
        width: 12%;
        background: #0B76E1;
        position: absolute;
        right: 2%;
        top: 3%;
        overflow: hidden;
    }
    .save p {
        font-size: .6rem;
        font-family: "Open Sans Light";
        color: white;
    }
    nav {
        height: 3%;
    }
    nav p {
        display:none;
    }
    nav ul {
        max-width: 30%;
        list-style: none;
        margin-top: 3%;
    }
    .nav-icon {
        font-size: 0.75rem;
        float: left;
        margin-right: 5%;
    }
    .nav-icon:last-child {
        margin-right: 0;
    }
    .foo-bar p {
        font-size: 0.6rem;
        text-align: left;
        font-family: "Open Sans Light";
    }
    .foo-bar h4 {
        font-size: .65rem;
        font-family: "Open Sans Light";
    }
    .form {
        margin-right: 2%;
        width: 58%;
        float: right;
    }
    .form-item {
        font-family: "Open Sans Light";
        overflow: hidden;
    }
    .form-item h4 {
        font-size: 0.65rem;
    }
    .form-item input[type=text] {
        width: 96%;
        height: .6rem;
    }
    .form-error {
        display: none;
    }
    .form-error p {
        font-family: "Open Sans Light";
        font-size: 0.6rem;
    }
    .form-item-2 {
        font-family: "Open Sans Light";
    }
    .form-item-2 input[type=text]{
        width: 58%;
        height: 0.6rem;
    }
    .form-item-2 h4 {
        font-size: 0.65rem;
    }
    .third-layer-icon {
        float: left;
        margin-right: 1%;
        font-size: .75rem;
    }
    .left p {
        font-size: 0.6rem;
        font-family: "Open Sans Light";
        clear: both;
    }
    .left h4 {
        font-size: .6rem;
        font-family: "Open Sans Light";
        margin-bottom: 10%;
    }
    .right {
        overflow: hidden;
        width: 58%;
        padding-top: 1.5%;
        padding-bottom: 2%;
    }
    td {
        font-family: "Open Sans Light";
        font-size: 0.55rem;
        padding-top: 1%;
        padding-right: 20%;
    }
    td:last-child {
        padding-right: 0;
    }
    .fourth-layer-left h4 {
        color: red;
        font-size: 0.65rem;
        font-family: "Open Sans";
        margin-bottom: 5%;
    }
    .fourth-layer-left p {
        font-size: .6rem;
        font-family: "Open Sans Light";
    }
    .fourth-layer-right {
        overflow: hidden;
        width: 58%;
        padding-top: 1.5%;
        padding-bottom: 2%;;
    }
    .destroy {
        width: 97%;
        text-align: center;
        padding: 0.5%;
        border: 2px solid red;
        border-radius: 3px;
        font-family: "Open Sans";
        font-size: 0.65rem;
        margin-top: 0.5%;
        color: red;
    }
    .fourth-layer-right p {
        font-family: "Open Sans Light";
        font-size: 0.6rem;
    }
}
@media screen and (min-width: 481px) and (max-width: 767px) {
    .sidebar-body {
        margin-top: .5rem;
    }
    .sidebar-header {
        margin-top: 1rem;
        margin-left: .6rem;
    }
    .sidebar-header-icon {
        margin-top: 3%;
        margin-right: 3%;
        font-size: .5rem;
        float: left;
    }
    .sidebar-header h3 {
        font-size: 0.6rem;
        font-family: "Open Sans";
        font-weight: 300;
        margin: auto;
    }
    .sidebar .icon-holder {
        float: left;
        margin-right: 3%;
        font-size: 0.5rem;
    }
    .sidebar-body h3 {
        display: none;
    }
    .sidebar-body li {
        padding-top: 10%;
        font-size: .5rem;
        font-family: "Open Sans Light";
    }
    .profile-icon {
        display: none;
    }
    header {
        height: 3rem;
    }
    .box p {
        margin-top: 1%;
        font-size: 0.55rem;
        font-family: "Open Sans Light";
    }
    .box h3 {
        margin-top: .6%;
        font-family: "Open Sans";
        font-size: 0.65rem;
    }
    .close {
        position: absolute;
        right: 1%;
        top: 0;
        font-size: 0.70rem;
    }
    .close a {
        color: #0070E0;
        opacity: 0.50;
    }
    .sub-header h4 {
        font-size: 0.60rem;
        font-family: "Open Sans Light";
        padding-top: 2%;
    }
    .cancel {
        text-align: center;
        right: 20%;
        top: 15%;
        width: 3%;
        position: absolute;
        margin-right: 5%;
    }
    .cancel p {
        color: #0B76E1;
        font-size: .65rem;
        font-family: "Open Sans Light";
    }
    .save {
        width: 12%;
        background: #0B76E1;
        position: absolute;
        right: 2%;
        top: 3%;
        overflow: hidden;
    }
    .save p {
        font-size: .6rem;
        font-family: "Open Sans Light";
        color: white;
    }
    nav {
        height: 3%;
        overflow: hidden;
        font-family: 'Open Sans Light';
        border-bottom: 1px solid #DFDFDF;
    }
    nav p {
        font-size: 0.6rem;
        float: left;
    }
    nav ul {
        max-width: 70%;
        list-style: none;
        margin: 0 auto;
        margin-top: 10px;
    }
    .sub-navigation li p{
        margin-right: 5%;
    }
    .nav-icon {
        font-size: 0.6rem;
        float: left;
        margin-right: 1%;
    }
    .nav-icon:last-child {
        margin-right: 0;
    }
    .foo-bar p {
        font-size: 0.6rem;
        text-align: left;
        font-family: "Open Sans Light";
    }
    .foo-bar h4 {
        font-size: .65rem;
        font-family: "Open Sans Light";
    }
    .form {
        margin-right: 2%;
        width: 58%;
        float: right;
    }
    .form-item {
        font-family: "Open Sans Light";
        overflow: hidden;
    }
    .form-item h4 {
        font-size: 0.65rem;
    }
    .form-item input[type=text] {
        width: 96%;
        height: 1.5rem;
    }
    .form-error {
        display: none;
    }
    .form-error p {
        font-family: "Open Sans Light";
        font-size: 0.6rem;
    }
    .form-item-2 {
        font-family: "Open Sans Light";
    }
    .form-item-2 input[type=text] {
        width: 88%;
        height: 1.5rem;
    }
    .form-item-2 h4 {
        font-size: 0.65rem;
    }
    .third-layer-icon {
        float: left;
        margin-right: 1%;
        font-size: .75rem;
    }
    .left p {
        font-size: 0.6rem;
        font-family: "Open Sans Light";
        clear: both;
    }
    .left h4 {
        font-size: .6rem;
        font-family: "Open Sans Light";
        margin-bottom: 10%;
    }
    .right {
        overflow: hidden;
        width: 58%;
        padding-top: 1.5%;
        padding-bottom: 2%;
    }
    td {
        font-family: "Open Sans Light";
        font-size: 0.55rem;
        padding-top: 1%;
        padding-right: 20%;
    }
    td:last-child {
        padding-right: 0;
    }
    .fourth-layer-left h4 {
        color: red;
        font-size: 0.65rem;
        font-family: "Open Sans";
        margin-bottom: 5%;
    }
    .fourth-layer-left p {
        font-size: .6rem;
        font-family: "Open Sans Light";
    }
    .fourth-layer-right {
        overflow: hidden;
        width: 58%;
        padding-top: 1.5%;
        padding-bottom: 2%;;
    }
    .destroy {
        width: 97%;
        text-align: center;
        padding: 0.5%;
        border: 2px solid red;
        border-radius: 3px;
        font-family: "Open Sans";
        font-size: 0.65rem;
        margin-top: 0.5%;
        color: red;
    }
    .fourth-layer-right p {
        font-family: "Open Sans Light";
        font-size: 0.6rem;
    }
}
@media screen and (min-width:768px) and (max-width: 1023px) {
    .sidebar-body {
        margin-top: 1rem;
    }
    .sidebar-header {
        margin-top: .5rem;
        margin-left: .5rem;
    }
    .sidebar-header-icon {
        margin-top: 2%;
        margin-right: 3%;
        font-size: .7rem;
        float: left;
    }
    .sidebar-header h3 {
        font-size: 0.8rem;
        font-family: "Open Sans";
        font-weight: 300;
        margin: auto;
    }
    .sidebar .icon-holder {
        float: left;
        margin-right: 3%;
        font-size: 0.6rem;
    }
    .sidebar-body h3 {
        font-size: .55rem;
        margin-left: .4rem;
    }
    .sidebar-body li {
        padding-top: 4%;
        font-size: .6rem;
        font-family: "Open Sans Light";
    }
    .profile-icon {
        display: none;
    }
    .box-icon {
        margin-top: 1%;
        float: left;
        font-size: .70rem;
        margin-right: .3%;
    }
    .box p {
        margin-top: 1%;
        font-size: 0.7rem;
        font-family: "Open Sans Light";
    }
    .box h3 {
        margin-top: .5%;
        font-family: "Open Sans";
        font-size: 0.8rem;
    }
    .close {
        position: absolute;
        right: 1%;
        top: 0;
        font-size: 0.70rem;
    }
    .close a {
        color: #0070E0;
        opacity: 0.50;
    }
    .sub-header h4 {
        font-size: 0.70rem;
        font-family: "Open Sans Light";
        padding-top: 2%;
    }
    .cancel {
        text-align: center;
        right: 12%;
        top: 25%;
        width: 4%;
        position: absolute;
        margin-right: 1%;
    }
    .cancel p {
        color: #0B76E1;
        font-size: .8rem;
        font-family: "Open Sans Light";
        padding: 15%;
    }
    .save {
        text-align: center;
        width: 7%;
        background: #0B76E1;
        position: absolute;
        right: 2%;
        top: 15%;
        overflow: hidden;
    }
    .save p {
        font-size: .8rem;
        font-family: "Open Sans Light";
        padding: 15%;
        color: white;
    }
    nav {
        height: 4%;
        overflow: hidden;
        font-family: 'Open Sans Light';
        border-bottom: 1px solid #DFDFDF;
    }
    nav p {
        font-size: 13px;
        float: left;
        margin-right: 15px;
    }
    nav ul {
        max-width: 55%;
        list-style: none;
        margin: 0 auto;
        margin-top: 10px;
    }
    .nav-icon {
        font-size: 0.75rem;
        float: left;
        margin-right: 1%;
    }
    .profile-picture {
        width: 35px;
        height: 35px;
        float: right;
        padding: 5px;
    }
    .box {
        max-width: 100%;
        border: 1px solid #0070E0;
        overflow: hidden;
        margin: 2%;
        color: #0070E0;
        padding: 1%;
        padding-bottom: 1.5%;
        position: relative;
    }
    .box p {
        margin-top: 1%;
        font-size: 0.90rem;
        font-family: "Open Sans Light";
    }
    .box h3 {
        margin-top: .05%;
        font-family: "Open Sans";
        font-size: 1rem;
    }
    .close {
        position: absolute;
        right: 1%;
        top: 5%;
    }
    .close a {
        color: #0070E0;
        opacity: 0.50;
    }
    .foo-bar p {
        font-size: 0.73rem;
        font-family: "Open Sans Light";
    }
    .foo-bar h4 {
        font-size: 0.70rem;
        font-family: "Open Sans Light";
        margin-bottom: 3%;
    }
    .form-item {
        font-family: "Open Sans Light";
    }
    .form-item h4 {
        font-size: 0.8rem;
    }
    .form-item input[type=text] {
        width: 99%;
        height: 1.5rem;
    }
    .form-error {
        display: none;
    }
    .form-error p {
        font-family: "Open Sans Light";
        font-size: 0.6rem;
    }
    .form-item-2 {
        float: left;
        width: 99%;
        font-family: "Open Sans Light";
        margin-right: 2%;
    }
    .form-item-2:last-child {
        margin-right: 0;
    }
    .form-item-2 input[type=text]{
        width: 100%;
        height: 1.5rem;
    }
    .form-item-2 h4 {
        font-size: 13px;
    }
    .third-layer {
        overflow: hidden;
        border-bottom: 1px solid #DFDFDF;
    }
    hr {
        background-color: #DFDFDF;
        height: 1px;
        border: 0;
    }
    .third-layer-icon {
        float: left;
        margin-right: 1%;
        margin-top: 2%;
        font-size: .8rem;
    }
    .left p {
        font-size: 0.7rem;
        font-family: "Open Sans Light";
    }
    .left h4 {
        font-size: 0.8rem;
        font-family: "Open Sans Light";
        margin-bottom: 5%;
    }
    .checksum {
        width: 100%;
        margin-top: 1%;
        border-collapse: collapse;
    }
    td {
        font-family: "Open Sans Light";
        font-size: 0.75rem;
        padding-top: 1%;
    }
    .fourth-layer {
        overflow: hidden;
    }
    .fourth-layer-left {
        width: 38%;
        float: left;
        overflow: hidden;
        margin-left: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .fourth-layer-left h4 {
        color: red;
        font-size: 0.75rem;
        font-family: "Open Sans";
        margin-bottom: 1%;
    }
    .fourth-layer-left p {
        font-size: 0.7rem;
        font-family: "Open Sans Light";
    }
    .fourth-layer-right {
        overflow: hidden;
        width: 43.5%;
        padding-top: 1.5%;
        padding-bottom: 2%;;
    }
    .destroy {
        width: 60%;
        text-align: center;
        padding: 0.5%;
        border: 2px solid red;
        border-radius: 3px;
        font-family: "Open Sans";
        font-size: 0.75rem;
        margin-top: 0.5%;
        color: red;
    }
    .fourth-layer-right p {
        font-family: "Open Sans Light";
        font-size: 0.7rem;
    }
}