* {
    margin: 0;
    padding: 0;
}
p {
    min-width: 200px;
    max-height: 200px;
}
html {
    font-size: 16px;
}
section {
    overflow: hidden;
}
main {
    width: 80%;
    height: 900px;
    float: right;
    overflow: hidden;
}
.sidebar {
    width: 20%;
    height: 100%;
    background: #2B3439;
    position: fixed;
    color: white;
}
.sidebar-header {
    padding-left: 10%;
    padding-top: 10%;
    min-width: 100%;
    height: auto;
    margin-bottom: 5%;
}
.sidebar-container {
    overflow: hidden;
}
.sidebar-header-icon {
    margin-top: 3%;
    margin-right: 3%;
    font-size: 1.5rem;
    float: left;
}
.sidebar-header h3 {
    font-size: 1.8rem;
    font-family: "Open Sans";
    font-weight: 300;
    margin: auto;
}
.sidebar .icon-holder {
    float: left;
    margin-right: 2%;
}
.sidebar-body h3 {
    font-family: "Open Sans Light";
    font-size: .8rem;
    padding-bottom: 5%;
    padding-left: 10%;
    margin-top: 5%;
}
.sidebar-body li {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    font-size: 1rem;
    font-family: "Open Sans Light";
}
.sidebar-body a {
    color: white;
    text-decoration: none;
}
.sidebar-body li:hover {
    background: #21272A;
}
header {
    width: 100%;
    height: 6.5%;
    border-bottom: 1px solid black;
    position: relative;
}
.profile {
    min-width: 7%;
    height: 100%;
    float: right;
    position: relative;
}
.profile-icon {
    font-size: 1rem;
    position: absolute;
    bottom: 35%;
    color: #0070E0;
}
.image-container {
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin: 20%;
    float: right;
}
.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
}
.dropbox {
    max-width: 100%;
    border: 1px solid #0070E0;
    overflow: hidden;
    margin: 2%;
    color: #0070E0;
    padding: 1%;
    padding-bottom: 1.5%;
    position: relative;
}
.dropbox-icon {
    margin-top: .5%;
    float: left;
    font-size: 100%;
    margin-right: .5%;
}
.dropbox p {
    margin-top: 1%;
    font-size: 0.90rem;
    font-family: "Open Sans Light";
}
.dropbox h3 {
    margin-top: .05%;
    font-family: "Open Sans";
}
.close {
    position: absolute;
    right: 1%;
    top: 5%;
}
.close a {
    color: #0070E0;
    opacity: 0.50;
}
.card {
    max-width: 100%;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
    color: white;
    font-family: "Open Sans Light";
    overflow: hidden;
    position: relative;
    padding-bottom: 1%;
}
.card h3 {
    padding-left: 7%;
    padding-top: 7%;
    font-size: .75rem;
}
.figure {
    padding-left: 7%;
    font-size: 1.5rem;
}
.card-icon {
    font-size: 1.5rem;
    position: absolute;
    right: 7%;
    bottom: 10%;
}
.card-1 {
    background: #00A47F;
    width: 22.5%;
}
.card-2 {
    background: #B22821;
    width: 22.5%;
}
.card-3 {
    background: #ED9E00;
    width: 22.5%;
}
.card-4 {
    background: #4A8CE4;
    width: 22.5%;
}
.server {
    margin: 0 2% 2% 2%;
    overflow-x: auto;
}
.upper {
    font-size: .75rem;
}
.lower {
    font-size: 1.2rem;
}
.status-icon {
    float: left;
    color: green;
    margin-right: 5px;
}
.error {
    color: red;
}
.error .status-icon {
    color: red;
}
.finished {
    color: green;
}
table {
    width: 100%;
    border: 1px solid #DFDFDF;;
    font-family: "Open Sans Light";
    font-size: .75rem;
    border-collapse: collapse;
}
td {
    border-bottom: 1px solid #DFDFDF;
    padding-right: 9%;
}
td:last-child {
    padding-right: 0;
}
th {
    text-align: left;
}
span {
    color: blue;
}
.table-footer {
    width: 100%;
    height: 80px;
}
.buttons {
    width: 20%;
    margin: auto;
}
.button {
    float: left;
    height: 30px;
    width: 30px;
    border: 1px solid #DFDFDF;
    margin-right: 5px;
}
.button:last-child {
    margin-right: 0;
}
.button p {
    margin-top: 20%;
    margin-left: 35%;
    color: #375799;
}
/* Mobile Screens */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .sidebar-body {
        margin-top: .5rem;
    }
    .sidebar-header {
        margin-top: 1rem;
        margin-left: .6rem;
    }
    .sidebar-header-icon {
        margin-top: 3%;
        margin-right: 3%;
        font-size: .5rem;
        float: left;
    }
    .sidebar-header h3 {
        font-size: 0.6rem;
        font-family: "Open Sans";
        font-weight: 300;
        margin: auto;
    }
    .sidebar .icon-holder {
        float: left;
        margin-right: 3%;
        font-size: 0.5rem;
    }
    .sidebar-body h3 {
        display: none;
    }
    .sidebar-body li {
        padding-top: 10%;
        font-size: .5rem;
        font-family: "Open Sans Light";
    }
    header {
        height: 4%;
    }
    .image-container {
        width: 25px;
        height: 25px;
    }
    .profile-icon {
        display: none;
    }
    .dropbox-icon {
        margin-top: 1%;
        float: left;
        font-size: .70rem;
        margin-right: .3%;
    }
    .dropbox p {
        margin-top: 1%;
        font-size: 0.50rem;
        font-family: "Open Sans Light";
    }
    .dropbox h3 {
        margin-top: .6%;
        font-family: "Open Sans";
        font-size: 0.65rem;
    }
    .close {
        position: absolute;
        right: 1%;
        top: 0;
        font-size: 0.70rem;
    }
    .close a {
        color: #0070E0;
        opacity: 0.50;
    }
    .card {
        margin: 0;
    }
    .card-1 {
        width: 100%;
    }
    .card-2 {
        width: 100%;
    }
    .card-3 {
        width: 100%;
    }
    .card-4 {
        width: 100%;
    }
    .card h3 {
        padding-left: 3%;
        padding-top: 3%;
        font-size: .5rem;
    }
    .figure {
        padding-left: 3%;
        font-size: 0.75rem;
    }
    .card-icon {
        font-size: 1rem;
        position: absolute;
        right: 7%;
        bottom: 20%;
    }
    .buttons {
        width: 30%;
        margin: auto;
    }
    .button {
        float: left;
        height: 25px;
        width: 25px;
        border: 1px solid #DFDFDF;
        margin-right: 5px;
    }
    .button:last-child {
        margin-right: 0;
    }
    .button p {
        margin-top: 20%;
        margin-left: 35%;
        color: #375799;
    }
    td {
        border-bottom: 1px solid #DFDFDF;
        padding-right: 0;
    }
    .upper {
        font-size: 0.5rem;
    }
    .lower {
        font-size: 0.75rem;
    }
    .server {
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
    table {
        font-size: .4rem;
    }
    span {
        color: blue;
    }
    .error p{
        display: none;
    }
    .error .status-icon {
        position: relative;
        left: 35%;
    }
    .finished p {
        display: none;
    }
    .finished .status-icon {
        position: relative;
        left: 35%;
    }
    .buttons {
        width: 47%;
        margin-left: 30%;
    }
    .button {
        height: 15px;
        width: 15px;
        border: 1px solid #DFDFDF;
        margin-right: 3px;
    }
    .button:last-child {
        margin-right: 0;
    }
    .table-footer {
        width: 100%;
        height: 30px;
    }
}
/* Another breakpoint */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .sidebar-body {
        margin-top: 1rem;
    }
    .sidebar-header {
        margin-top: 1rem;
        margin-left: 1rem;
    }
    .sidebar-header-icon {
        margin-top: 2%;
        margin-right: 3%;
        font-size: .65rem;
        float: left;
    }
    .sidebar-header h3 {
        font-size: 0.7rem;
        font-family: "Open Sans";
        font-weight: 300;
        margin: auto;
    }
    .sidebar .icon-holder {
        float: left;
        margin-right: 3%;
        font-size: 0.55rem;
    }
    .sidebar-body h3 {
        font-size: .6rem;
        margin-left: .4rem;
    }
    .sidebar-body li {
        padding-top: 4%;
        font-size: .60rem;
        font-family: "Open Sans Light";
    }
    .profile-icon {
        display: none;
    }
    .dropbox-icon {
        margin-top: 1%;
        float: left;
        font-size: .70rem;
        margin-right: .3%;
    }
    .dropbox p {
        margin-top: 1%;
        font-size: 0.7rem;
        font-family: "Open Sans Light";
    }
    .dropbox h3 {
        margin-top: .5%;
        font-family: "Open Sans";
        font-size: 0.8rem;
    }
    .close {
        position: absolute;
        right: 1%;
        top: 0;
        font-size: 0.70rem;
    }
    .close a {
        color: #0070E0;
        opacity: 0.50;
    }
    .card {
        margin: 0;
    }
    .card-1 {
        width: 50%;
    }
    .card-2 {
        width: 50%;
    }
    .card-3 {
        width: 50%;
    }
    .card-4 {
        width: 50%;
    }
    .card h3 {
        padding-left: 3%;
        padding-top: 1%;
        font-size: .5rem;
    }
    .figure {
        padding-left: 3%;
        font-size: 1rem;
    }
    .card-icon {
        font-size: 1rem;
        position: absolute;
        right: 5%;
        bottom: 27%;
    }
    td {
        border-bottom: 1px solid #DFDFDF;
        padding-right: 0;
    }
    .upper {
        font-size: 0.5rem;
    }
    .lower {
        font-size: 0.75rem;
    }
    .server {
        margin: 2%;
        width: 96%;
        overflow: hidden;
    }
    table {
        font-size: .5rem;
    }
    span {
        color: blue;
    }
    .error p{
        display: none;
    }
    .error .status-icon {
        position: relative;
        left: 35%;
    }
    .finished p {
        display: none;
    }
    .finished .status-icon {
        position: relative;
        left: 35%;
    }
    .buttons {
        width: 47%;
        margin-left: 40%;
    }
    .button {
        height: 15px;
        width: 15px;
        border: 1px solid #DFDFDF;
        margin-right: 3px;
    }
    .button:last-child {
        margin-right: 0;
    }
    .table-footer {
        width: 100%;
        height: 30px;
    }
}
/*max: 768px*/
@media screen and (min-width:768px) and (max-width: 1023px) {
    .sidebar-body {
        margin-top: 1rem;
    }
    .sidebar-header {
        margin-top: .5rem;
        margin-left: .5rem;
    }
    .sidebar-header-icon {
        margin-top: 2%;
        margin-right: 3%;
        font-size: .7rem;
        float: left;
    }
    .sidebar-header h3 {
        font-size: 0.8rem;
        font-family: "Open Sans";
        font-weight: 300;
        margin: auto;
    }
    .sidebar .icon-holder {
        float: left;
        margin-right: 3%;
        font-size: 0.6rem;
    }
    .sidebar-body h3 {
        font-size: .55rem;
        margin-left: .4rem;
    }
    .sidebar-body li {
        padding-top: 4%;
        font-size: .6rem;
        font-family: "Open Sans Light";
    }
    .profile-icon {
        display: none;
    }
    .dropbox-icon {
        margin-top: 1%;
        float: left;
        font-size: .70rem;
        margin-right: .3%;
    }
    .dropbox p {
        margin-top: 1%;
        font-size: 0.7rem;
        font-family: "Open Sans Light";
    }
    .dropbox h3 {
        margin-top: .5%;
        font-family: "Open Sans";
        font-size: 0.8rem;
    }
    .close {
        position: absolute;
        right: 1%;
        top: 0;
        font-size: 0.70rem;
    }
    .close a {
        color: #0070E0;
        opacity: 0.50;
    }
    .card {
        margin: 0;
    }
    .card-1 {
        width: 50%;
    }
    .card-2 {
        width: 50%;
    }
    .card-3 {
        width: 50%;
    }
    .card-4 {
        width: 50%;
    }
    .card h3 {
        padding-left: 3%;
        padding-top: 1%;
        font-size: .5rem;
    }
    .figure {
        padding-left: 3%;
        font-size: 1rem;
    }
    .card-icon {
        font-size: 1rem;
        position: absolute;
        right: 5%;
        bottom: 27%;
    }
    td {
        border-bottom: 1px solid #DFDFDF;
        padding-right: 0;
    }
    .upper {
        font-size: 0.5rem;
    }
    .lower {
        font-size: 0.75rem;
    }
    .server {
        margin: 2%;
        width: 96%;
        overflow: hidden;
    }
    table {
        font-size: .5rem;
    }
    span {
        color: blue;
    }
    .error p{
        display: none;
    }
    .error .status-icon {
        position: relative;
        left: 35%;
    }
    .finished p {
        display: none;
    }
    .finished .status-icon {
        position: relative;
        left: 35%;
    }
    .buttons {
        width: 47%;
        margin-left: 40%;
    }
    .button {
        height: 17px;
        width: 15px;
        border: 1px solid #DFDFDF;
        margin-right: 3px;
    }
    .button:last-child {
        margin-right: 0;
    }
    .table-footer {
        width: 100%;
        height: 30px;
    }
}